pandas>=2.3.2
pyenchant
seaborn
forex-python
ipywidgets
plotly
statsmodels
xlrd
mplfinance
scikit-learn
xgboost
numpy
matplotlib
beautifulsoup4
requests
lxml
cssselect
selenium
bs4
chromedriver-autoinstaller
urljoin
tqdm
openml
pyarrow
setuptools
openpyxl